.filter {
    float: left;
    width: 17%;
    height: 42%;
    border: 2px solid gray;
    border-radius: 10px;
    transform: translateX(10%) translateY(10%);
}

.header {
    text-align: center;
    color: black;
}

.check_box_filter {
    padding-left: 4%;
}

.contents {
  float: center;
  width: 55%;
  min-height: 40vh;
  margin: 0 auto;
}

.block_post {
    margin: 0 auto;
    width: 85%;
    border: 2px solid grey;
    margin-top: 20px;
    border-radius: 19px;
    transform: translateY(45%);
    height: 40%;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5%;
}

.author {
    padding-left: 5%;
}

.topic {
    display: inline;
    float: right;
    padding-right: 5%;
}

.filter_button {
    border: 1px solid black;
    background: black;
    color: white;
    transition: .3s;
    margin-left: 4%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.filter_button:hover {
    border: 1px solid white;
    background: white;
    color: black
}