.custom-navbar {
    padding: 1% 0 1% 0;
    margin-bottom: 30px;
    background-color: black;
    color: white;
}

html, body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
	background-color: black;
	color: white;
	padding: 10vh 10vh;
}