.custom-navbar {
    padding: 1% 0 1% 0;
    margin-bottom: 30px;
    background-color: black;
    color: white;
}

html, body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
	background-color: black;
	color: white;
	padding: 10vh 10vh;
}

.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img_profile {
    float: left;
    padding-right: 10px;
}

#link_with_img {
    float: right;
}

.left_buttons {
    margin-right: 2%;
}

.right_buttons {
    margin-left: 2%;
}

.head_link {
    text-decoration: none;
    color: white;
    transition: .3s;
    background: linear-gradient(to right, white, white, white, white);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
}

.head_link:hover {
   background-size: 100% 4px;
}