{% extends 'base.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block right_button %}
    <div class="right_buttons">
        <h3>
            <a href="/new_post" class="head_link">
                Написать пост
            </a>
        </h3>
    </div>
{% endblock %}

{% block left_button %}
    <div class="left_buttons">
        <img src="../static/img/img_profile.png" alt="Что-то пошло не так" class="img_profile">
        <a href="/registrate" class="head_link">
            <h3>
                Регистрация
            </h3>
        </a>
    </div>
{% endblock %}

{% block content %}
<h1 class="text-center">Авторизация</h1>
<div class="login-container">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <!-- Email -->
        <p>
            {{ form.email.label }}
            {{ form.email(class='form-control') }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        <!-- Password -->
        <p>
            {{ form.password.label }}
            {{ form.password(class='form-control', type='password') }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        <!-- Remember me -->
        <p>
            {{ form.remember_me() }}{{ form.remember_me.label }}
        </p>

        <!-- Submit -->
        <p>
            {{ form.submit(type='submit', class='btn btn-dark') }}
        </p>

        {{ message }}

    </form>
</div>
{% endblock %}
