{% extends 'base.html' %}
{% block content %}
    <div class="text-center">
        <h3>{{ user.nickname }}</h3>
    </div>
    <br>
    <!-- SAME CODE AS /POSTS HAS -->
    <div class="content">
        {% if user.posts %}
            <h4> Все посты пользователя: </h4>
            <div class="text-center">
                {% for post in user.posts %}
                    <div class="block_post">
                        <div class="header">
                            <h3>
                                <a href="/post/{{ post.id }}" class="link">
                                    {{ post.header }}
                                </a>
                            </h3>
                        </div>
                        <div class="info">
                            <div class="author">
                                <h4>
                                    <a href="/profile/{{ post[3] }}" class="link">
                                        {{ post.author.nickname }}
                                    </a>
                                </h4>
                            </div>
                            <div class="topic">
                                <h4>
                                    {{ post.category }}
                                </h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center"> У этого пользователя совсем нет постов...</p>
        {% endif %}
    </div>
{% endblock %}